<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">

    <class name="СервисВебСервер" file="src/Классы/СервисВебСервер.os"/>
    <!-- <class name="СервисРегЗаданий" file="src/Классы/СервисРегЗаданий.os"/> -->
    <class name="Компонент" file="src/Классы/Компонент.os"/>
    <class name="Маршрутизатор" file="src/Классы/Маршрутизатор.os"/>
    <class name="КоллекцияМаршрутов" file="src/Классы/КоллекцияМаршрутов.os"/>
    <class name="ИтераторМаршрутов" file="src/Классы/ИтераторМаршрутов.os"/>
    <class name="Маршрут" file="src/Классы/Маршрут.os"/>
    <class name="МенеджерКомпонентов" file="src/Классы/МенеджерКомпонентов.os"/>
    <class name="МенеджерОбъектов" file="src/Классы/МенеджерОбъектов.os"/>
    <class name="МенеджерСеансов" file="src/Классы/МенеджерСеансов.os"/>
    <class name="Сеанс" file="src/Классы/Сеанс.os"/>
    <class name="HTTPКлиент" file="src/Классы/HTTPКлиент.os"/>
    <class name="Шаблонизатор" file="src/Классы/Шаблонизатор.os"/>
    <class name="Коннектор1С" file="src/Классы/Коннектор1С.os"/>
    <class name="ГруппаОтбораКоннектора1С" file="src/Классы/ГруппаОтбораКоннектора1С.os"/>
    <class name="МенеджерORM" file="src/Классы/МенеджерORM.os"/>

    <module name="Лог" file="src/Модули/Лог.os"/>

    <module name="ТипыМаршрутов" file="src/Модули/ТипыМаршрутов.os"/>
    <module name="МетодыHTTP" file="src/Модули/МетодыHTTP.os"/>
    <module name="ТипыСущностей1С" file="src/Модули/ТипыСущностей1С.os"/>
    <module name="ТипыЧастейОтбора" file="src/Модули/ТипыЧастейОтбора.os"/>
    <module name="ТипыОбъектовOnecore" file="src/Модули/ТипыОбъектовOnecore.os"/>

    <module name="Настройки" file="src/Модули/Настройки.os"/>
    <module name="Константы" file="src/Модули/Константы.os"/>
    <module name="Коллекции" file="src/Модули/Коллекции.os"/>
    <module name="Служебное" file="src/Модули/Служебное.os"/>
    <module name="ВебСерверСлужебное" file="src/Модули/ВебСерверСлужебное.os"/>
    <module name="Рефлексия" file="src/Модули/Рефлексия.os"/>
    <module name="Приложение" file="src/Модули/Приложение.os"/>   
    <module name="Сериализация" file="src/Модули/Сериализация.os"/>
    
    <!-- Служебные модели -->
    <class name="OneCoreКолонкаТаблицыМодели" file="src/Служебное/Модели/КолонкаТаблицыМодели.os"/>
    <class name="OneCoreТаблицаМодели" file="src/Служебное/Модели/ТаблицаМодели.os"/>
    
</package-def>