<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">

    <class name="ВебЗапрос" file="src/Классы/ВебЗапрос.os"/>
    <class name="ВебОтвет" file="src/Классы/ВебОтвет.os"/>
    <class name="ВебСервер" file="src/Классы/ВебСервер.os"/>
    <class name="Компонент" file="src/Классы/Компонент.os"/>
    <class name="Маршрутизатор" file="src/Классы/Маршрутизатор.os"/>
    <class name="Маршруты" file="src/Классы/Маршруты.os"/>
    <class name="МенеджерКомпонентов" file="src/Классы/МенеджерКомпонентов.os"/>
    <class name="МенеджерОбъектов" file="src/Классы/МенеджерОбъектов.os"/>
    <class name="Сеанс" file="src/Классы/Сеанс.os"/>

    <module name="ТипыМаршрутов" file="src/Модули/ТипыМаршрутов.os"/>
    <module name="ТипыHttpЗапроса" file="src/Модули/ТипыHttpЗапроса.os"/>

    <module name="Лог" file="src/Модули/Лог.os"/>
    <module name="Настройки" file="src/Модули/Настройки.os"/>
    <module name="Константы" file="src/Модули/Константы.os"/>
    <module name="Служебное" file="src/Модули/Служебное.os"/>
    <module name="ОбслуживаниеWebСервера" file="src/Модули/ОбслуживаниеWebСервера.os"/>
    <module name="Рефлексия" file="src/Модули/Рефлексия.os"/>
    <module name="Приложение" file="src/Модули/Приложение.os"/>   
    <module name="Сериализация" file="src/Модули/Сериализация.os"/>
    <module name="УправлениеСеансами" file="src/Модули/УправлениеСеансами.os"/>

</package-def>